html{
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}

header{
    background-color: black;
    position:fixed;
    top:0;
    left:0;
    width: 110%;
    z-index:100;
    margin-left:-3%;
    
}

.video_body{
    text-align: center;
    /* width: 100%; */
}

.content{
    text-align: center;
}

.content h1{
    font-size: 100px;
    margin: auto;
    padding-top: 20%;
    color:rgb(255, 255, 255);
}

.content h1:hover{
-webkit-text-stroke:4px rgb(210, 0, 0);
color: transparent;
}

.About_btn{
    text-decoration: none;
    display: inline-block;
    color:azure;
    font-size:24px;
    border: 2px solid white;
    padding: 10px 60px;
    border-radius: 50px;
    margin-top: 30px;
}

.About_btn:hover{
    border:0px solid rgb(210, 0, 0);
    color:rgb(255, 255, 255);
    background-color: rgb(210, 0, 0);
    font-weight: bold;
}


.background_video{
    position:absolute;
    right: 0;
    bottom:0;
    z-index:-1;
}

@media (min-aspect-ratio: 16/9){
    .background_video{
        width:100%;
        height:auto;
    }

}

.navBar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width:90%;
    
}

.navBar div{
    width:20%;

}

.button_container{
    width: 35%;
    margin: 5%;
}

.logo_container{
    position: absolute;
    width: 300px;
    margin: auto;
    padding-top: 4%;
    align-items: center;
}

.btn_Text{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: xx-large;

}

.btn_Text:hover{
    color:rgb(255, 17, 17);
    text-decoration: none;
    font-size: xx-large;

}

#FakerLogo{
    width: 50%;  
    margin: auto;
    display: block;
    /* padding-bottom: 20%; */
}


.imgBanner{
    width:100%;
    margin-bottom:10%;
    margin-top: 15%;
}

/* #BannerPic{
 width:100%;
} */

.imgBanner img{
    width:100%;
    object-fit: cover;
}

h1{
    text-align: center;
    margin-top: 2%;
    color:rgb(255, 255, 255)
}
h2{
    text-align: center;
    padding-top: 30px;
}

.Content{
    color: rgb(255, 255, 255);
    padding: 20%;
    padding-top: 10%;
}

p{
    color: rgb(255, 255, 255);
}

.Footer{
    padding-top: 15%;
    font-size: smaller;
    text-align: center;
}

.Intro_Footer{
    font-size: smaller;
    text-align: center;
    position: fixed;
    left: 20;
    bottom: 0;
    width: 100%;
}



.btn_Text_Mobile{
    display:none;
}

.awards{
    position: relative;
    left: 10%;
}



/* for mobile */

@media (max-width: 1220px) {

    .awards{
        position: relative;
        left:10%;
    }
    .content h1{
        font-size: 60px;
        margin-top: 10%;
    }

    .logo_container{
        position: absolute;
        width: 25%;
        margin: auto;
        padding-top: 1%;
        align-items: center;
    }

    .navBar div{
        margin-left: 8%;
       
    }

    li, p{
        font-size: 12pt;
    }

    h1{
        font-size: 16pt;
    }

    h2{
        font-size: 14pt;
    }

    .btn_Text{
        font-size: 18pt;
    }

    .btn_Text_Mobile{
        display:block;
    }
    .btn_Text{
        display:none;
    }
    .btn_Text_Mobile{
        color:rgb(255, 255, 255);
        text-decoration: none;
        font-size: 30px;
    
    }

    .background_video{
        right: -550px;      
    }

}

@media (max-width: 800px) {
    /* .navBar{
        display:none;
    } */

    .content h1{
        font-size: 40px;
        margin-top: 45%;
    }

    .About_btn{
        text-decoration: none;
        display: inline-block;
        color:azure;
        font-size: 20px;
        border: 1.5px solid white;
        padding: 6px 40px;
        border-radius: 40px;
        margin-top: 20px;
    }

    .Content{
        padding:10%;    
        padding-top: 5%;
    }

    .awards{
        position: relative;
        left:-3%;
    }

    .logo_container{
        position: absolute;
        width: 25%;
        margin: auto;
        padding-top: 1%;
        align-items: center;
    }

    .navBar div{
        margin-left: 8%;
       
    }


    li, p{
        font-size: 8pt;
    }

    h1{
        font-size: 14pt;
    }

    h2{
        font-size: 12pt;
    }

    .btn_Text{
        font-size: 18pt;
    }

    #FakerLogo{
        width: 50%;
    }

    .Footer{
        font-size: 6pt;
    }

    .btn_Text_Mobile{
        font-size: large;
    
    }

    


}