html{
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}

.navBar{
    display: flex;
    flex-wrap: nowrap;
}

.button_container{
    width: 15%;
    margin: 5%;
}

.logo_container{
    /* max-width: 100px; */
    margin: auto;
    padding-top: 2%;
}

.btn_Text{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: xx-large;

}

#FakerLogo{
    width: 70%;  
    margin: auto;
    display: block;
    /* padding-bottom: 20%; */
}


.imgBanner{
    width:100%;
    margin-bottom:10%;
}

/* #BannerPic{
 width:100%;
} */

.imgBanner img{
    width:100%;
    object-fit: cover;
}

h1{
    text-align: center;
    margin-bottom: 5%;
    color:rgb(255, 255, 255)
}

.Content{
    color: rgb(255, 255, 255);
    margin: 10%;
}

p{
    color: rgb(255, 255, 255);
}

.Footer{
    margin: 10%;
    margin-bottom: 0;
}




/* for mobile */
@media (max-width: 640px) {
    .navBar{
        display:none;
    }
}