body{
    background-color: black;
    color:aliceblue;
    text-align: center;
}

p1{
    color:rgb(120, 172, 218);
}

p2{
    color:brown;
}

p3{
    color:aquamarine
}

p4{
    color:rgb(163, 163, 248)
}

p5{
    color:beige
} 